svg:hover rect[fill]{
  fill: var(--color-gray-4);
}

svg:hover path[fill]{
  fill: var(--color-gray-1);
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.infoCard{
  width: 100%;
  background-color: var(--color-gray-1);
  border-radius: 0 8px 8px 0;
  padding: 10px 14px;
  display: flex ;
  justify-content: space-between;
}

.cardLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.cardRight{
  display: flex;
  align-items: center;
  text-align: left;
  width: 30%;
  justify-content: space-between;
}

.totalCardList{
  display: flex;
}

.colorCard{
  border-radius: 8px 0 0 8px;
  width: 4px;
  height: 77px;
}

.colorIn{
  background-color: var(--secundary-color-1);
}

.colorOut{
  background-color: var(--color-gray-2);
}